.App {
  text-align: center;
  color: #252525;
  font-family: Helvetica, Arial, sans-serif
}

img {
  border-radius: 50%;
  border: black solid 2px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  background: #f8f8f8;
  margin: 2em auto;
  padding: 0;
  list-style: none;
  border: black solid 2px;
  border-radius: 10px;
  width: 250px;
  padding: 1em;
}

button {
  background: #f8f8f8;
  border: none;
  border-radius: 10px;
  margin: .75em 0 .25em;
  padding: .5em;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288), -5px -5px 5px white;
}

#unExpandButton {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.288), inset -5px -5px 5px white;
}